<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h6>
          Posible descarga
        </h6>
        <button (click)="descargar()" type="button" class="btn btn-pill btn-block btn-success">
          Descargar en PDF
        </button>
      </div>
      <div class="card-body">
        <div id="parapdf" class="col-12 shadow p-5 mb-2 bg-white rounded rounded-lg border border-light fondo">
          <div class="row">
            <div class="col-12 col-md-3 col-lg-4">
              <img id="logo" src="../../../../../assets/img/logo.png">
            </div>
            <div class="col-12 col-md-9 col-lg-8 text-center">
              <h3>
                Millan Gutierrez Servicios Generales E.I.R.L
              </h3>
              <p>
                De: Millan Camposano, Hector Vicehich
              </p>
              <p>
                Jr. Abancay #515 - Huancayo
              </p>
              <p>
                Celular: 951514883
              </p>
            </div>
            <br>
            <br>
            <div class="col-12 col-md-4 col-lg-6">
              <table class="table table-bordered table-light border-dark text-center">
                <tr>
                  <th>
                    RUC : 20606975946
                  </th>
                </tr>
                <tr class="colorcito">
                  <th>
                    BOLETA DE VENTA
                  </th>
                </tr>
                <tr>
                  <th>
                    N° {{elcodigo}}
                  </th>
                </tr>
              </table>
            </div>
            <div class="col-12 col-md-8 col-lg-6">
              <p>
                Cliente : {{ticket.cliente.Name + '' + ticket.cliente.LastName}}
              </p>
              <p>
                Correo Cliente: {{ticket.cliente.Email}}
              </p>
              <p>
                Fecha : {{lafecha}}
              </p>
            </div>
            <br>
            <div *ngIf="ticket.Condition === 'por pagar'" class="col-12 text-center">
              <h2 class="text-danger">
                El plazo para pagar es de 10 horas una vez realizada la reserva.
                <br>
                De lo contrario se eliminara la reserva.
              </h2>
              <h1>
                Cuenta Interbancaria:  04-074-025574
              </h1>
            </div>
            <div class="col-12 p-1">
              <div class="table-responsive">
                <table class="table table-bordered border-primary">
                  <thead class="colorcito">
                    <tr class="text-center">
                      <th>
                        Servicio
                      </th>
                      <th>
                        Detalle
                      </th>
                      <th>
                        Precio
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-center">
                      <td>
                        <h6 *ngIf="ticket.Condition !== 'por pagar'" class="text-center">
                          {{ticket.Condition}}
                        </h6>
                        <h6 *ngIf="ticket.Condition === 'por pagar'" class="text-center">
                          Reserva por Pagar
                        </h6>
                      </td>
                      <td>
                        Especialidad: {{ticket.horario.especialista.especialidad.Name}}
                        <br>
                        Doctor: {{ticket.horario.especialista.doctor.Name + ' ' + ticket.horario.especialista.doctor.LastName}}
                        <br>
                        Dia:  {{ticket.horario.Day + ' --> ' + ticket.horario.hora.Turn}}  ...  Cupo: {{ticket.horario.Cupo}}  ... Lapzo: {{ticket.horario.hora.Start + ' - ' + ticket.horario.hora.End}}
                      </td>
                      <td >
                        <p *ngIf="ticket.Condition !== 'por pagar'">
                          s/. {{ticket.Pay}}
                        </p>
                        <p *ngIf="ticket.Condition === 'por pagar'">
                          s/. {{ticket.horario.especialista.especialidad.Price}}
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <br>
          </div>
          <p *ngIf="ticket.Condition !== 'por pagar'" class="text-right">
            Total:  S/. {{ticket.Pay}}.00
          </p>
          <p *ngIf="ticket.Condition === 'por pagar'" class="text-right">
            Por Cancelar:  S/. {{ticket.horario.especialista.especialidad.Price}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
