<div class="row">
  <div class="col-12 col-lg-6 p-1">
    <h2>Total a Pagar:
      <br>
      s/. {{pago}}.00
    </h2>
  </div>
  <div class="col-12 col-lg-6 p-1">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="text-center">
          Horario Disponible
        </h4>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>
                Desde
              </th>
              <th>
                Hasta
              </th>
              <th>  </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let obj of horariofiltrado">
              <td>
                {{obj.hora.Horainicio}}
              </td>
              <td>
                {{obj.hora.Horafin}}
              </td>
              <td>
                <button (click)="reservar(obj.id)" type="button" class="btn btn-pill btn-block btn-info">
                  Reservar
                </button>
              </td>
              <td>
                <button (click)="porpagar(obj.id)" type="button" class="btn btn-pill btn-block btn-info">
                  Por Pagar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
