#foto {
  width: auto;
  min-width: 100px;
  max-width: 200px;
  max-height: 200px;
}

/* #imagen {
  width: auto;
  min-width: 100px;
  max-width: 200px;
  max-height: 200px;
}

#icono {
  width: auto;
  min-width: 100px;
  max-width: 200px;
  max-height: 200px;
} */
